* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.main {
  width: 111%;
  height: 450px;
  background-color: #fff;
  border: 3px #000 solid;
  border-radius: 10px;
  padding: 30px px;
  max-width: 1000px;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 1.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: gray;
}

.verify-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.number {
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #eee;
  margin: 1%;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield;
}

.number:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgb(0 0 0 / 25%);
}

.infomation {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}
